header{
    margin: 2%;
    background: #ebebeb;
    text-align: center;
    height: 100px;
}

body{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

ul {
    height: 100px;
    margin: 2%;
    list-style-type: none;
    padding: 0;
    background: #ebebeb;
}

.container{
    margin: 1%;
    width: 960px;
}

.section{
    margin: 1%;
    text-align: center;
    width: 495px;
    height: 245px;
    background: #ebebeb;
    float: left;
}

.aside{
    margin: 1% 3%;
    width: 385px;
    background: #ebebeb;
    float: left;
    height: 245px;
}

h1{
    color: #777;
    background: #ebebeb;
}

p{
    color: #777;
    background: #ebebeb;
}

.article{
    margin: 2%;
    color: #ebebeb;
    background: #777;
}

.footer{
    margin: 2%;
    float: left;
    width: 920px;
    height: 100px;
    background: #ebebeb;
}