header{
    margin: 1%;
    border-style: solid;
    background-color: '#ebebeb';
}

body{
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: '#777';
background: '#777';
width: '960px';
font-size: '18px';
}

ul {
    margin: 1%;
    border-style: solid;
    list-style-type: none;
    padding: 0;
    background-color: '#ebebeb';
}

h1{
    color: '#777';
}

p{
    background: '#ebebeb';
}
.section{
    margin: 1%;
    border-style: solid;
    float: left;
    text-align: center;
    width: 495px;
    background-color: '#ebebeb';
}
.article{
    margin: 1%;
    border-style: solid;
    color: '#ebebeb';
    background: '#777';
}
.aside{
    margin: 1%;
    text-align: center;
    border-style: solid;
    background-color: '#ebebeb';
}
.footer{
    margin: 1%;
    border-style: solid;
    position:absolute;
    bottom:0;
    height: 50px;
    padding: 0 48.25% 0 48.25%;
    background-color: '#ebebeb';
}